* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  background: linear-gradient(135deg, #3cb371, #1e90ff);
  color: #102a43;
  padding-top: 20px;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
  color: #102a43;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(1200px, 90vw);
  margin: 20px auto 0;
  border: 1px solid #4a90e2;
  border-radius: 10px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #4a90e2;
  border-radius: 8px;
  padding: 20px 20px 30px;
  background-color: #e9f7fc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  color: #102a43;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input[type="file"] {
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #fff;
  color: #102a43;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 16px;
  color: #fff;
  background-color: #4a90e2;
  border: 1px solid #4a90e2;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #357abd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:disabled,
input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
  flex-wrap: flex;
}

.copy-button {
  font-size: 0.7rem;
  padding: 2px 6px;
  margin-bottom: 0;
}

.end-btn {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
}

.end-btn:hover {
  background-color: #c0392b;
}

#file-status-message {
  margin-left: 10px;
}

.message {
  display: none;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.file-history-header {
  display: flex;
  align-items: center;
}

.erase-history-container,
.spacer {
  flex: 1;
}

.file-history-title {
  flex: 1;
  text-align: center;
}

.erase-history-btn {
  font-size: 0.8rem;
  padding: 4px 8px;
  display: none;
}

#transfer-status-sent {
  margin-top: 10px;
  font-style: italic;
  color: #27ae60;
}

#transfer-status-received {
  margin-top: 10px;
  font-style: italic;
  color: #4a90e2;
}

#outgoing-section,
#incoming-section {
  margin-top: 10px;
}

#outgoing-files a,
#incoming-files a {
  color: #4a90e2;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.6;
  transition: text-shadow 0.3s;
}

#outgoing-files a:hover,
#incoming-files a:hover {
  text-shadow: 0 0 3px rgba(74, 144, 226, 0.5);
}

#my-id-display {
  font-weight: bold;
}

#my-id-display.inactive {
  color: #e74c3c;
}

#my-id-display.active {
  color: #27ae60;
}

#active-connection-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 6px;
  flex-wrap: wrap;
}

#active-connection-status {
  font-weight: bold;
  color: #4a90e2;
}

.repo-link {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1rem;
  color: #1b3a5f;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease, text-shadow 0.3s ease;
}

a:hover {
  color: #2563eb;
  text-shadow: 0 0 2px rgba(37, 99, 235, 0.5);
}

footer {
  background-color: #f7f7f7;
  padding: 2px;
  text-align: center;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.progress-container {
  display: none;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
}

.progress-bar {
  height: 100%;
  background: #4a90e2;
  transition: width 0.3s ease;
}

.progress-percentage {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  color: #102a43;
}

#about-section > h2 {
  margin-bottom: 0px;
}

#about-text > p {
  line-height: 1.6;
}

.webrtc-link {
  font-size: 1rem;
  color: #1b3a5f;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.2s ease, text-shadow 0.3s ease;
}
